#header-nav {
	background-color: gray;
	border-radius: 0;
	border: 2px solid black;
}

#nav-list {
	background-color: white;
}

.brand {
	color: black;
	font-size: 150%;
}

h2 {
	color: black;
	width: 100%;
	font-size: 150%;
	text-align: center;
	padding-top: 10px;
}

h1 {
  width: 100%;
  height: 50px;
  font-size: 200%;
  text-align: center;
}

.section {
	background-color: gray;
	margin-right: 15px;
}

.words {
	color: black;
}

p {
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 10px;
}

li {
	text-align: center;
}

#selection {
	border-top: 2px solid black;
}


.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 2px solid black;
 }

.navbar-nav {
	margin: 0px 0px;
}

.navbar-collapse {
	padding-right: 0px;
	padding-left: 0px;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: gray;
}